-#  This file is app/views/doors/index.html.haml
%h1 Adventskalender v0.1
%div This is the first version of my personal advent calender

%table#doors
  %thead

  %tbody
    - @doors.each do |door|
      %tr
        %td=image_tag (door.imgsrc)