-#  This file is app/views/doors/index.html.haml
%h3 v0.2
%div My Personal Advent Calender -> Now with autoupdate every day!

%table#doors
  %thead

  %tbody
    - @doors.each do |door|
      %tr
        %td=image_tag(door.imgsrc, height: '200', width: '200', alt: "Picture" + door.dateOfDoor.to_s)
