-#  This file is app/views/doors/index.html.haml
%h3 v0.3
%div My Personal Advent Calendar -> Now with auto update every day!

%table#doors
  %thead

  %tbody
    - counter = 0
    - @doors.each do |door|
      - if counter.modulo(3) == 0
        %tr
          %td=image_tag(door.imgsrc, height: '300', width: '600', alt: "Picture" + door.dateOfDoor.to_s)
      - else
         %td=image_tag(door.imgsrc, height: '300', width: '600', alt: "Picture" + door.dateOfDoor.to_s)
      - counter += 1
